/* Filename:  flexstyle.css
** Project:   FEND L16 Project - Build a Portfolio
** Author:    Colin Ashley
** Submitted: 15th March 2018
** Desc:      Common and default styles.

/* colour palette
** slategray
** darkslategray
*/

/* common style */
* {
	color:  slategray;  
  font-family: 'Mina', sans-serif;
}

body {
	margin: 0 auto 0 auto;
	max-width:  1080px;
	padding:  0 0.25em 0 0.25em;
  width:  auto;
}

h1 {
  font-size: 38px;
  margin:  1em 0 0 0;
}

h2 {
  font-size: 18px;
  margin:  0 0 1em 0;
}

.section-title {
  font-size: 32px;
  margin:  5px 0 5px 0;
}
/* common style - end */

/* header section */
.header {
  border-bottom: medium solid slategray;
  margin-top: 2em;
  width:  100%;
  text-align: right;
  text-transform: uppercase;
}

.header-image {
  float:  left;
  width: 9%;
}
/* header section - end */

/* impact section */

.impact {
  margin: 2em 0 1em 0;
}

.impact-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width:  100%;
}
/* impact section - end */

/* Featured Work */
.featured-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item {
  margin:  0;
  text-align: center;
  width:  32.5%;
}

.feature-item figcaption {
  color: darkslategray;
  font-size: 2em;
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
}

.feature-image {
  border:  1px solid black;
  box-shadow: 5px 5px 15px 0 slategray;
  display: block;
  height: auto;
  width: 100%;
}

.feature-image:hover {
  border: 1px solid white;
  box-shadow: 5px 5px 25px 0 black;
}

.caption {
  margin-bottom: 0;
}

.caption-url {
  font-size: 0.5em;
  margin-top: 0;
  text-transform: lowercase;
}
/* featured work - end */

/* footer */
.footer {
  border-top: medium solid slategray;
  margin: 1em 0 0 0;
  padding:  1em 0 0 0;
  text-align: center;
  width: 100%;
}
/* footer - end */
