/* Filename:  responsive.css
** Project:   FEND L16 Project - Build a Portfolio
** Author:    Colin Ashley
** Submitted: 15th March 2018
** Desc:      Apply device width responsive styles
*/

/* nexus-5, 6P & other mobiles
** use full width for images, reduce font-sizes further and
** center section title.
*/
@media screen and (max-width: 412px) {
  h1 { font-size: 26px; }
  h2 { font-size: 14px; }
  .header-image { width: 20%; }
  .feature-item { width:  100%; }
  .section-title {
    font-size: 24px;
    text-align: center;
	}
}

/* iPad & other tablets
** Add left & right margins, reduce font-sizes and adjust logo.
*/ 
@media screen and (min-width: 413px) and (max-width: 768px) {
  .feature-item {
    width:  80%;
    margin:  0 auto 0 auto;
  }
  h1 { font-size: 26px; }
  .header-image { width:  10%; }
  .section-title {
    font-size: 28px;
    text-align: center;
  }
}

/* full screens */
@media screen and (min-width: 769px) {
}