/* Filename:  styles.css
** Project:   FEND L16 Project - Build a Portfolio
** Author:    Colin Ashley
** Submitted: 15th March 2018
** Desc:      Single stylesheet for project.

/* colour palette
** slategray
** darkslategray
*/

/* common style */
* {
	color:  slategray;  
  font-family: "Mina", sans-serif;
}

.body-container {
  display: flex;
  flex-wrap: wrap;
	margin: 0 auto 0 auto;
	max-width: 1080px;
	padding: 0 0.25em 0 0.25em;
}

h1 {
  font-size: 38px;
  margin: 1em 0 0 0;
}

h2 {
  font-size: 18px;
  margin: 0 0 1em 0;
}

.section-title {
  font-size: 32px;
  margin: 5px 0 5px 0;
}
/* common style - end */

/* header section */
.header {
  align-items: center;
  border-bottom: medium solid slategray;
  display: flex;
  text-transform: uppercase;
  width: 100%;
}

.header-image {
  width: 10%;
}

.header-text {
  width:  90%;
  text-align:  right;
}
/* header section - end */

/* impact section */
.impact {
  margin: 1em 0 0.5em 0;
  width: 100%;
}

.impact-image {
  height: 100%;
  width: 100%;
}
/* impact section - end */

/* Featured Work */
.featured-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item {
  margin: 0;
  text-align: center;
  width: 32.5%;
}

.caption {
  color: darkslategray;
  font-size: 2em;
  text-transform: uppercase;
}

.feature-image {
  border: 1px solid black;
  box-shadow: 5px 5px 15px 0 slategray;
  height: auto;
  width: 100%;
}

.feature-image:hover {
  border: 1px solid white;
  box-shadow: 5px 5px 25px 0 black;
}

.caption-url {
  font-size: 0.5em;
  margin-top: 0;
  text-transform: lowercase;
}
/* featured work - end */

/* footer */
.footer {
  border-top: medium solid slategray;
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
  text-align: center;
  width: 100%;
}
/* footer - end */


/* Media Queries to provide responsiveness */
/* nexus-5, 6P & other mobiles
** use full width for images, reduce font-sizes further and
** center section title.
*/
@media screen and (max-width: 412px) {
  h1 { font-size: 26px; }
  h2 { font-size: 14px; }
  .header-image { width: 17%; }
  .feature-item { width: 100%; }
  .section-title {
    font-size: 24px;
    text-align: center;
	}
}

/* iPad & other tablets
** Add left & right margins, reduce font-sizes and adjust logo.
*/ 
@media screen and (min-width: 413px) and (max-width: 768px) {
  .feature-item {
    width: 80%;
    margin: 0 auto 0 auto;
  }
  h1 { font-size: 26px; }
  .header-image { width: 13%; }
  .section-title {
    font-size: 28px;
    text-align: center;
  }
}
/* Media Queries - end */